---
import Layout from "@layouts/Layout.astro";
import P from "@components/P.astro";
import Strong from "@components/Strong.astro";
import Colors from "@components/Colors.astro";
import Gallery from "@components/Gallery.astro";
import ProtoypeCard from "@components/CarCard.astro";
import Divider from "@components/Divider.astro";
import Marquee from "@components/Marquee.astro";

import { cards } from "lib/production";
import { images } from "lib/production-images";
import { v1, v2, options } from "lib/versions";
import { Image } from "astro:assets";

import p001 from "@assets/p001.jpg";
---

<Layout title="Heritage | Calandra Automobili">
  <section
    class="relative flex h-[40dvh] lg:h-[85dvh] w-full flex-col items-center justify-center"
  >
    <span class="absolute inset-0 h-full w-full">
      <Colors />
    </span>
  </section>

  <section
    class="relative flex w-full flex-col items-center justify-center pt-10 lg:pt-20"
  >
    <header class="z-10 flex flex-col items-center gap-8 p-6">
      <h1 class="text-4xl font-normal leading-tight text-gray-300 lg:text-6xl">
        Calandra <Strong>GP</Strong>
      </h1>

      <P>
        Our prototype is ready for production, for further information and
        reserves, please visit our contact page.
      </P>
    </header>
  </section>

  <section
    class="flex w-full max-w-5xl flex-col items-center px-4 py-10 md:py-20"
  >
    <ul class="flex w-full flex-wrap justify-center">
      {
        cards.map((card) => (
          <li class="w-full self-stretch p-2 md:w-1/3">
            <ProtoypeCard {...card} />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="versions" class="flex w-full max-w-6xl flex-col justify-center">
    <picture class="mb-10 mt-20 md:-mb-20 md:mt-0">
      <Image
        src={p001}
        alt="Prototype P001"
        width={1100}
        height={493}
        class="scale-150 md:scale-100"
      />
    </picture>

    <main class="z-10 flex w-full flex-wrap gap-12 lg:justify-center">
      <article class="flex w-full flex-col gap-6 p-8 md:w-[45%]">
        <h3 class="text-4xl text-white">
          <Strong>Calandra GP-S</Strong>
        </h3>

        <ul class="flex flex-col text-gray-300">
          {
            v1.map((item) => (
              <li class="border-b border-zinc-800 p-4 last:border-b-0">
                {item}
              </li>
            ))
          }
        </ul>
      </article>

      <span class="hidden py-8 lg:flex">
        <Divider />
      </span>

      <article class="flex w-full flex-col gap-6 p-8 md:w-[45%]">
        <h3 class="text-4xl text-white">
          <Strong>Calandra GP-C</Strong>
        </h3>

        <ul class="flex flex-col text-gray-300">
          {
            v2.map((item) => (
              <li class="border-b border-zinc-800 p-4 last:border-b-0">
                {item}
              </li>
            ))
          }
        </ul>
      </article>
    </main>

    <footer class="flex w-full flex-col items-center gap-6 pb-40 pt-20">
      <h3 class="text-4xl text-white">Options</h3>
      <div class="flex w-full flex-col gap-2">
        <Marquee items={options} />
        <Marquee items={options} reverse />
      </div>
    </footer>
  </section>

  <section
    class="relative flex h-[80dvh] w-full flex-col items-center justify-center"
  >
    <span class="absolute inset-0 h-full w-full">
      <Gallery images={images} />
    </span>
  </section>
</Layout>
