---
import { Image } from "astro:assets";

const { id, images } = Astro.props;
---

<div class="relative h-full w-full">
  <ul
    id={id}
    class="scrollbar-hide flex h-full w-full snap-x snap-mandatory overflow-x-auto"
  >
    {
      images.map((image) => (
        <li class="h-full w-full shrink-0 snap-center">
          <Image
            src={image}
            alt="Inside"
            width={1600}
            height={1067}
            class="h-full w-full object-cover object-top"
          />
        </li>
      ))
    }
  </ul>

  <div
    class="absolute bottom-0 left-1/2 flex -translate-x-1/2 translate-y-1/2 rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black p-1 lg:bottom-10 lg:translate-y-0"
  >
    <button
      id={`${id}-prev`}
      class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
      >PREV</button
    >
    <button
      id={`${id}-next`}
      class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
      >NEXT</button
    >
  </div>
</div>

<script define:vars={{ id }} is:inline>
  function init_gallery() {
    const slider = document.querySelector(`#${id}`);
    const prev = document.querySelector(`#${id}-prev`);
    const next = document.querySelector(`#${id}-next`);

    prev.addEventListener("click", () => {
      slider.scrollBy({
        left: -slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });

    next.addEventListener("click", () => {
      slider.scrollBy({
        left: slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });
  }

  init_gallery();
  document.addEventListener("astro:after-swap", init_gallery);
</script>
