---
import { routes } from "../routes";
import Logo from "@icons/Logo.astro";
import Flag from "@components/Flag.astro";
import Menu from "@icons/Menu.astro";
---

<nav
  class="fixed top-0 z-20 flex justify-center w-full pb-20 bg-gradient-to-b from-black via-black/70 to-transparent"
>
  <ul
    class="hidden lg:flex items-center font-medium gap-4 text-gray-300 [&_a]:px-4 [&_a]:py-2 [&_a]:text-sm [&_a]:rounded-lg [&_a:hover]:bg-zinc-700 [&_a]:transition lg:ml-28"
  >
    {
      routes.map((route, i) => {
        if (routes.length / 2 === i) {
          return (
            <>
              <li>
                <picture class="flex flex-col justify-between gap-6 mx-8">
                  <Flag />
                  <Logo />
                </picture>
              </li>

              <li class="flex pt-6">
                <a href={route.slug}>{route.title}</a>
              </li>
            </>
          );
        }

        return (
          <li class="flex pt-6">
            <a href={route.slug}>{route.title}</a>
          </li>
        );
      })
    }
  </ul>

  <div
    class="relative flex items-start justify-between w-full p-8 text-white lg:hidden shrink-0"
  >
    <picture class="z-10">
      <Logo />
    </picture>

    <button id="menuBtn" class="z-10">
      <Menu />
    </button>

    <ul
      id="menu"
      class="absolute left-0 flex flex-col justify-center w-full h-screen text-gray-300 transition-all duration-500 opacity-0 pointer-events-none -top-full bg-black/70 backdrop-blur-lg"
    >
      {
        routes.map((route, i) => (
          <li class="flex justify-center w-full border-b last:border-b-0 border-zinc-800">
            <a href={route.slug} class="w-full p-6 text-center">
              {route.title}
            </a>
          </li>
        ))
      }

      <li>
        <picture class="fixed bottom-0 left-0 right-0 z-20">
          <Flag />
        </picture>
      </li>
    </ul>
  </div>
</nav>

<style>
  .active {
    top: 0;
    opacity: 1;
    pointer-events: all;
  }
</style>

<script is:inline>
  (function () {
    const menu = document.querySelector("#menu");
    const menuBtn = document.querySelector("#menuBtn");

    function toggleMenu() {
      menu.classList.toggle("active");
    }

    menuBtn.addEventListener("click", toggleMenu);
  })();
</script>
