---
import { routes } from "../lib/routes";
import Logo from "@icons/Logo.astro";
import Flag from "@components/Flag.astro";
import Menu from "@icons/Menu.astro";
---

<nav
  class="pointer-events-none fixed top-0 z-20 flex w-full justify-center bg-gradient-to-b from-black via-black/70 to-transparent pb-20"
>
  <ul
    class="pointer-events-auto hidden items-center gap-4 font-medium text-gray-300 lg:ml-28 lg:flex [&_a:hover]:bg-zinc-700 [&_a]:rounded-lg [&_a]:px-4 [&_a]:py-2 [&_a]:text-sm [&_a]:transition"
  >
    {
      routes.map((route, i) => {
        if (routes.length / 2 === i) {
          return (
            <>
              <li>
                <picture class="mx-8 flex flex-col justify-between gap-6">
                  <Flag />
                  <Logo />
                </picture>
              </li>

              <li class="flex pt-6">
                <a href={route.slug}>{route.title}</a>
              </li>
            </>
          );
        }

        return (
          <li class="flex pt-6">
            <a href={route.slug}>{route.title}</a>
          </li>
        );
      })
    }
  </ul>

  <div
    class="relative flex w-full shrink-0 items-start justify-between p-8 text-white lg:hidden"
  >
    <picture class="z-10">
      <Logo />
    </picture>

    <button id="menuBtn" class="pointer-events-auto z-10">
      <Menu />
    </button>

    <ul
      id="menu"
      class="pointer-events-none absolute -top-full left-0 flex h-screen w-full flex-col justify-center bg-black/70 text-gray-300 opacity-0 backdrop-blur-lg transition-all duration-500"
    >
      {
        routes.map((route, i) => (
          <li class="flex w-full justify-center border-b border-zinc-800 last:border-b-0">
            <a href={route.slug} class="w-full p-6 text-center">
              {route.title}
            </a>
          </li>
        ))
      }

      <li>
        <picture class="fixed bottom-0 left-0 right-0 z-20">
          <Flag />
        </picture>
      </li>
    </ul>
  </div>
</nav>

<style>
  .active {
    top: 0;
    opacity: 1;
    pointer-events: all;
  }
</style>

<script>
  function init_menu() {
    const menu = document.querySelector("#menu");
    const menuBtn = document.querySelector("#menuBtn");

    function toggleMenu() {
      menu.classList.toggle("active");
    }

    menuBtn.addEventListener("click", toggleMenu);
  }

  init_menu();
  document.addEventListener("astro:after-swap", init_menu);
</script>
